/.settings/
/backup/
/bin/
/docs/scripts/*
/jre/
/src_test/
/jre-old/
/resource/font-4k/
/resource/font-custom/
/resource/rawexd-zhcn/
/resource/text/
debug.*
notes.txt
*.jar
.classpath
.project
.gradle

